<div class="calendar">
  <div class="calendar__content">
    <div class="calendar__content__title">Calendario Tributario</div>

    <div class="calendar__content__container">
      <div class="data">
        <app-date-calendar (selectDay)="selectDate($event)"></app-date-calendar>
        <div class="data__content2 {{ viewMore ? 'view_more2' : ''}}">
          <ul>
            <li *ngFor="let item of selectDay?.description">{{ item.description }}</li>
          </ul>
        </div>
      </div>
      <div class="view_more" (click)="viewMore = !viewMore">
        <mat-icon class="view_more__icon">{{ viewMore ? 'visibility_off' : 'visibility' }}</mat-icon>
        {{viewMore ? 'Ver menos' : 'Ver más'}}
      </div>
    </div>
  </div>
</div>
